<h1>Welcome <%= current_user.email %></h1>

<%= form_for(@text_medium, url: text_shouts_path) do |form| %>
  <%= form.text_field :body, placeholder: "Shout here!" %>
  <%= form.submit "Shout" %>
<% end %>

<%= form_for @photo_medium, :url => photo_shouts_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :photo %>
  <%= form.submit "Shout Photo" %>
<% end %>

<%= render @shouts %>

